$color1: #63ccff;
$color2: #039be5;
$color3: #006db3;
$font: sans-serif;

body {
	background-color: $color1;
	background-image: url('%backgroundUri%');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	height: 100vh;
	width: 100%;
	font-family: $font;	
	#modal {
		display: none;;
		position: absolute;
		top: 20vh;
		left: 45vw;
		width: 20vw;
		background-color: white;
	}
	.shadow {
		box-shadow: 5px 5px 5px;
	}
}
